body {
  background-color: var(--background);
  color: var(--text);
  transition: 0.5s;
}

main-container {
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.fa-microphone {
  color: #14a76c;
}

.fa-microphone:hover {
  color: #0c6e47;
}

.fa-microphone-slash {
  color: #ff0000;
}

.fa-microphone-slash:hover {
  color: #af0000;
}

.fa-file-audio {
  color: #ff652f;
}

.fa-file-audio:hover {
  color: #d44916;
}

.output-display {
  background-color: #383b4b;
  height: 700px;
}

.fas,
.fa {
  cursor: pointer;
}

.background {
  background-color: #272727;
  color: #747474;
}

/* Register/Login User Component*/
.userForm {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50vh;
  width: 50vh;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7%;
}

.form-group {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

.form-group:nth-of-type(1) {
  top: 30%;
}

.form-group:nth-of-type(2) {
  top: 50%;
}

.formTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family: "Taviraj", serif;
}

.formLabel {
  font-size: 20px;
  margin-left: 5px;
}

.form-control {
  height: 5vh;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-control.dark:focus {
  box-shadow: rgba(255, 255, 255, 0.45) 0px 5px 15px;
}

.formLink {
  position: absolute;
  top: 70%;
  left: 3%;
  text-decoration: none;
}

.userBtn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 15%;
}

/* List Notes Component */

#buffer {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  scroll-behavior: smooth;
  overflow-y: scroll;
  white-space: normal;
  word-break: break-all;
  background-color: lightgrey;
  border-radius: 9%;
  height: auto;
  max-height: 75px;
  width: auto;
  max-width: 300px;
}

#buffer .bufferText {
  color: black !important;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.searchInput {
  position: absolute;
  top: 45%;
  left: 70%;
  background-color: white !important;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
  padding-left: 25px;
  font-size: 20px;
  width: 250px;
  border: none; /* <-- This thing here */
  border: solid 1px #ccc;
  border-radius: 10px;
}

.themeTogglerContainer {
  position: absolute;
  top: 1%;
  left: 0.4%;
}

.speechWaveIcon {
  transition: 0.5s;
}

.titleVisualizerContainer {
  display: flex;
}

.titleVisualizerContainer > #waveform {
  margin-left: 5px;
  height: 80px;
  flex-grow: 4;
}

#waveform > * {
  height: 80px !important;
}

.note {
  margin-top: 10px;
  height: 400px;
  overflow: hidden;
  width: 100%;
  background-color: white;
  border-radius: 6%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  filter: blur(0);
}

.noteTitle {
  margin-top: 10px;
  font-size: 24px;
  font-family: "Taviraj", serif;
  text-align: center;
}

.note .noteContent {
  font-size: 20px;
  padding-left: 15px;
  padding-top: 15px;
  font-weight: 300;
}

.noteListTitle {
  margin-top: 5%;
  font-family: "Taviraj", serif;
  text-align: center;
}

.container {
  margin-left: 20px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 15%);
  border-radius: 5%;
}

.noteList {
  max-height: 400px;
  overflow-y: scroll;
}

.dou {
  font-size: 20px;
  font-family: "Taviraj", serif;
  color: grey;
  text-align: center;
}

.emptyNoteListInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.createNoteIcon {
  margin-top: 10px;
  margin-right: 10px;
}

.logoutIcon {
  margin-top: 10px;
  margin-right: 10px;
}

.themeButton {
  margin-top: 12px;
  margin-right: 23px;
}

/* Create Note Component */

.createFormContainer {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: stretch;
}

.noteTitleInput {
  margin-left: 10px;
  font-size: 32px;
}

.createNoteLabel {
  font-size: 32px;
}

/* Save Note Component */
.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saveNoteBtn {
  position: absolute;
  top: 102%;
  left: 0%;
}

.cancelSaveNoteBtn {
  position: absolute;
  top: 102%;
  left: 8%;
}

.saveDropdownContainer {
  position: absolute;
  top: 111.5%;
  left: 18.5%;
}

/* Note Details Component */

.singleNoteTitle {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -7%);
}

.singleNoteContent {
  position: absolute;
  top: 65%;
  left: 50%;
  height: 70%;
  min-height: 70%;
  max-height: 70%;
  width: 40%;
  transform: translate(-50%, -70%);
}

.cancelNoteBtn {
  position: absolute;
  left: 60%;
  top: 90%;
  transform: translate(-60%, -90%);
}

.updateNoteBtn {
  position: absolute;
  left: 69%;
  top: 90%;
  transform: translate(-69%, -90%);
}

.dropdown {
  position: absolute;
  left: 65%;
  top: 90%;
  transform: translate(-65%, -90%);
}

.dropdown-menu-lang {
  position: absolute;
  left: 65%;
  top: 90%;
  transform: translate(-65%, -90%);
}

.dropdown-lang {
  text-decoration: none;
}

/* Single Note */

.emailError {
  color: red;
}

.passwordError {
  color: red;
}

.noteContent {
  color: black !important;
}

/* Navbar */

.fa-plus {
  transition: 0.5s;
}

.fa-angle-right {
  transition: 0.5s;
}

.dialog {
  background-color: beige;
  border-radius: 5%;
}

.orderIcon {
  position: absolute;
  top: 46%;
  left: 64%;
}

.downloadButtonContainer {
  position: absolute;
  top: 111.5%;
  left: 27%;
}

@media screen and (max-width: 2560px) {
  .searchInput {
    left: 65%;
    width: 250px;
  }
}

@media screen and (max-width: 1920px) {
  .orderIcon {
    position: absolute;
    top: 46%;
    left: 71.5%;
  }

  .searchInput {
    left: 73%;
    width: 250px;
  }
}

@media screen and (max-width: 1750px) {
  .orderIcon {
    position: absolute;
    top: 46%;
    left: 70%;
  }

  .noteTitleInput {
    font-size: 28px;
  }

  .createNoteLabel {
    font-size: 28px;
  }
}

@media screen and (max-width: 1398px) {
  .cancelSaveNoteBtn {
    left: 9%;
  }

  .saveDropdownContainer {
    left: 21%;
  }

  .downloadButtonContainer {
    left: 30.8%;
  }

  .save {
    left: 12%;
  }

  .orderIcon {
    position: absolute;
    top: 46%;
    left: 70%;
  }

  .noteTitleInput {
    font-size: 23px;
  }

  .createNoteLabel {
    font-size: 23px;
  }
}

@media screen and (max-width: 1198px) {
  .cancelSaveNoteBtn {
    left: 10.6%;
  }

  .saveDropdownContainer {
    left: 24.5%;
  }

  .downloadButtonContainer {
    left: 35.8%;
  }

  .noteTitleInput {
    font-size: 20px;
  }

  .createNoteLabel {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .orderIcon {
    position: absolute;
    top: 35.7%;
    left: 70%;
  }

  .cancelSaveNoteBtn {
    left: 14.2%;
  }

  .saveDropdownContainer {
    left: 32.7%;
  }

  .downloadButtonContainer {
    left: 48%;
  }

  .noteTitleInput {
    font-size: 13px;
  }

  .createNoteLabel {
    font-size: 13px;
  }

  .searchInput {
    top: 35%;
  }
}

@media screen and (max-width: 800px) {
  .createNoteButton {
    font-size: 11px;
  }

  .noteTitleInput {
    font-size: 11px;
  }

  .createNoteLabel {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .cancelSaveNoteBtn {
    left: 19.2%;
  }

  .saveDropdownContainer {
    left: 44%;
  }

  .downloadButtonContainer {
    left: 64%;
  }
}

@media screen and (max-height: 977px) {
  .saveNoteBtn {
    top: 105%;
  }

  .cancelSaveNoteBtn {
    top: 105%;
  }

  .saveDropdownContainer {
    top: 111.5%;
  }

  .downloadButtonContainer {
    top: 111.5%;
  }
}

@media screen and (max-height: 925px) {
  .saveNoteBtn {
    top: 109%;
  }

  .cancelSaveNoteBtn {
    top: 109%;
  }

  .saveDropdownContainer {
    top: 119.5%;
  }

  .downloadButtonContainer {
    top: 119.5%;
  }
}

@media screen and (max-height: 900px) {
  .saveNoteBtn {
    top: 115%;
  }

  .cancelSaveNoteBtn {
    top: 115%;
  }

  .saveDropdownContainer {
    top: 125.5%;
  }

  .downloadButtonContainer {
    top: 125.5%;
  }
}

@media screen and (max-height: 855px) {
  .saveNoteBtn {
    top: 122%;
  }

  .cancelSaveNoteBtn {
    top: 122%;
  }

  .saveDropdownContainer {
    top: 132.5%;
  }

  .downloadButtonContainer {
    top: 132.5%;
  }
}

@media screen and (max-height: 805px) {
  .saveNoteBtn {
    top: 125%;
  }

  .cancelSaveNoteBtn {
    top: 125%;
  }

  .saveDropdownContainer {
    top: 137%;
  }

  .downloadButtonContainer {
    top: 137%;
  }
}

@media screen and (max-height: 784px) {
  .saveNoteBtn {
    top: 130%;
  }

  .cancelSaveNoteBtn {
    top: 130%;
  }

  .saveDropdownContainer {
    top: 142%;
  }

  .downloadButtonContainer {
    top: 142%;
  }

  .searchInput {
    top: 32%;
  }
}

@media screen and (max-height: 700px) {
  .searchInput {
    top: 25%;
  }
}
