main-container {
  margin-top: 100px;
}

.fa-microphone {
  color: #14a76c;
}

.fa-microphone:hover {
  color: #0c6e47;
}

.fa-microphone-slash {
  color: #ff0000;
}

.fa-microphone-slash:hover {
  color: #af0000;
}

.fa-file-audio {
  color: #ff652f;
}

.fa-file-audio:hover {
  color: #d44916;
}

.output-display {
  background-color: #383b4b;
  height: 700px;
}

.fas,
.fa {
  cursor: pointer;
}

.background {
  background-color: #272727;
  color: #747474;
}

#buffer {
  display: inline-block;
  scroll-behavior: smooth;
  overflow-y: scroll;
  white-space: normal;
  word-break: break-all;
  background-color: grey;
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 300px;
}

.note {
  height: auto;
  width: 200px;
  background-color: bisque;
  border-radius: 10%;
}
