main-container {
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.fa-microphone {
  color: #14a76c;
}

.fa-microphone:hover {
  color: #0c6e47;
}

.fa-microphone-slash {
  color: #ff0000;
}

.fa-microphone-slash:hover {
  color: #af0000;
}

.fa-file-audio {
  color: #ff652f;
}

.fa-file-audio:hover {
  color: #d44916;
}

.output-display {
  background-color: #383b4b;
  height: 700px;
}

.fas,
.fa {
  cursor: pointer;
}

.background {
  background-color: #272727;
  color: #747474;
}

/* List Notes Component */

#buffer {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  scroll-behavior: smooth;
  overflow-y: scroll;
  white-space: normal;
  word-break: break-all;
  background-color: lightgrey;
  border-radius: 9%;
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 300px;
}

#buffer .bufferText {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.searchInput {
  position: absolute;
  top: 45%;
  left: 70%;
  font-size: 25px;
  width: 250px;
}

@media screen and (max-width: 2560px) {
  .searchInput {
    left: 65%;
    width: 250px;
  }
}

@media screen and (max-width: 1920px) {
  .searchInput {
    left: 73%;
    width: 250px;
  }
}

@media screen and (max-width: 1366px) {
  .searchInput {
    width: 250px;
  }
}

@media screen and (max-height: 980px) {
  .searchInput {
    top: 42%;
  }
}

@media screen and (max-height: 900px) {
  .searchInput {
    top: 35%;
  }
}

@media screen and (max-height: 765px) {
  .searchInput {
    top: 32%;
  }
}

@media screen and (max-height: 700px) {
  .searchInput {
    top: 25%;
  }
}

.note {
  margin-top: 10px;
  height: 400px;
  overflow: hidden;
  width: 100%;
  background-color: white;
  border-radius: 6%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  filter: blur(0);
}

.noteTitle {
  margin-top: 10px;
  font-size: 24px;
  font-family: "Taviraj", serif;
  text-align: center;
}

.note .noteContent {
  font-size: 20px;
  padding-left: 15px;
  padding-top: 15px;
  font-weight: 300;
}

.noteListTitle {
  margin-top: 5%;
  font-family: "Taviraj", serif;
  text-align: center;
}

.container {
  margin-left: 20px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 15%);
  border-radius: 5%;
}

.noteList {
  max-height: 400px;
  overflow-y: scroll;
}

.dou {
  font-size: 20px;
  font-family: "Taviraj", serif;
  color: grey;
  text-align: center;
}

.emptyNoteListInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addNoteIcon {
  margin-top: 20px;
  margin-right: 35px;
}

.logoutIcon {
  margin-top: 20px;
  margin-right: 20px;
}

/* Create Note Component */

.createFormContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.createNoteButton {
  font-size: 40px;
}

.noteTitleInput {
  margin-left: 10px;
  font-size: 40px;
}

.createNoteLabel {
  font-size: 40px;
}

@media screen and (max-width: 1750px) {
  .createNoteButton {
    font-size: 30px;
  }

  .noteTitleInput {
    margin-left: 10px;
    font-size: 30px;
  }

  .createNoteLabel {
    font-size: 30px;
  }
}

@media screen and (max-width: 1395px) {
  .createNoteButton {
    font-size: 25px;
  }

  .noteTitleInput {
    font-size: 25px;
  }

  .createNoteLabel {
    font-size: 25px;
  }
}

@media screen and (max-width: 1174px) {
  .createNoteButton {
    font-size: 20px;
  }

  .noteTitleInput {
    font-size: 20px;
  }

  .createNoteLabel {
    font-size: 20px;
  }
}

/* Save Note Component */
.app-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
